# apps/client/.env
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...

# apps/server/.env
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_FRONTEND_API_URL=https://your-app.clerk.accounts.dev
CLERK_AUTHORIZED_PARTIES=http://localhost:5173
CLERK_WEBHOOK_SECRET=whsec_...

TURSO_AUTH_TOKEN=
TURSO_DATABASE_URL=http://localhost:8080

# e2e/.env（E2E実行時の環境変数）
E2E_EMAIL=
E2E_PASSWORD=
E2E_USERNAME=
E2E_FIRSTNAME=
E2E_LASTNAME=
