# クライアントサイド
VITE_CLERK_PUBLISHABLE_KEY

# サーバサイド `apps/server/.dev.vars`
CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY
CLERK_FRONTEND_API_URL
CLERK_WEBHOOK_SECRET

TURSO_AUTH_TOKEN
TURSO_DATABASE_URL

# E2Eテスト
E2E_EMAIL
E2E_PASSWORD
E2E_USERNAME
E2E_FIRSTNAME
E2E_LASTNAME
